{% extends "base.html" %}

{% block title %}
<title>Register Cafe</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/mainStyles.css') }}">
{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}
<section id="cafe-registration">
    <div class="registration-container">
        
        <form action="" name="registrationForm" id="registration-form" onsubmit="return preventSubmit(event)" autocomplete="off">
           
            <div class="first page">
                <h2 class="form-heading">Cafe Details</h2>
                <div class="detail-container required" style="flex-basis: 100%;">
                    <input type="text" id="cafe-name" name="cafeName" onfocusout="checkValuePresent(this)">
                    <label for="cafe-name">Name</label>
                </div>
                <div class="detail-container required">
                    <input type="text" id="cafe-phonenumber" name="cafePhonenumber" onfocusout="checkValuePresent(this)">
                    <label for="cafe-phonenumber">Phone Number</label>
                </div>
                <div class="detail-container required">
                    <input type="text" id="cafe-email" name="cafeEmail" onfocusout="checkValuePresent(this)">
                    <label for="cafe-email">Email</label>
                </div>
                <div class="detail-container required">
                    <input type="number" id="cafe-wifirating" name="cafeWifirating" onfocusout="checkValuePresent(this)" min="0" max="5">
                    <label for="cafe-wifirating">Wifi Rating</label>
                </div>
                <div class="detail-container required">
                    <input type="number" id="cafe-socket" name="cafeSocket" onfocusout="checkValuePresent(this)" min="0" max="5">
                    <label for="cafe-socket">Socket Rating</label>
                </div>
                <div class="detail-container required" style="flex-basis: 100%;">
                    <input type="text" id="cafe-address1" name="cafeAddress" onfocusout="checkValuePresent(this)">
                    <label for="cafe-address1">Address Line 1</label>
                </div>
                <div class="detail-container required">
                    <input type="text" id="cafe-locality" name="cafeLocality" onfocusout="checkValuePresent(this)">
                    <label for="cafe-locality">Locality</label>
                </div>
                <div class="detail-container required">
                    <input type="text" id="cafe-city" name="cafeCity" onfocusout="checkValuePresent(this)">
                    <label for="cafe-city">City</label>
                </div>
                <div class="detail-container required">
                    <input type="text" id="cafe-state" name="cafeState" onfocusout="checkValuePresent(this)">
                    <label for="cafe-state">State</label>
                </div>
                <div class="detail-container required">
                    <input type="text" id="cafe-country" name="cafeCountry" onfocusout="checkValuePresent(this)">
                    <label for="cafe-country">Country</label>
                </div>
                <p class="registration-error error"></p>
            </div>

            <div class="page second" style="display: none;">
                <h2 class="form-heading">Menu Details</h2>
                <div class="menu-input">
                    <div class="menu-header-input detail-container" 
                        contenteditable="true" 
                        onfocus="menuHeader(this)"
                        onfocusout='checkMenuHeader(this)'
                    >
                        Enter Menu Header
                    </div>
                    <div class="current-menu-details">
                        <div class="header">
                            <span>Coffee Name</span>
                            <span>Price</span>
                        </div>
                        <div class="items">
                        </div>
                    </div>
                    <input type="text" name='menuHeaderName' hidden>
                    <div class="menu-item-input" onkeyup="keyAddItem(event)">
                        <input type="text" name='coffeeName' placeholder="Coffee Name">
                        <input type="number" name="coffeePrice" min=0 placeholder="0">
                        <p class="coffee-details error"></p>
                        <a onclick="addMenuItem()" class="add-menu-button" onkeydown="keyAddItem(event)">Add Item</a>
                        <a onclick="addMenuPart()" class="add-menu-part" onkeydown="keyAddItem(event)">Next Part</a>
                    </div>
                </div>
                <div class="menu-content">
                    <h4>Added Menu</h4>
                    <!-- <p>None</p> -->
                </div>
            </div>
            <div class="page third">

            </div>
            <p class="registration-error error"></p>
            <a href="#" class="backButton" onclick="changePage(this)" style="display: none;">Back</a>
            <input type="submit" style="display: none;" value="Submit Details">
            <a href="#" class="nextButton" onclick="changePage(this)">Next</a>
        </form>
        <div class="progress">
            <div class="progress-track"></div>
            <div class="progress-step active">
                <span>Start</span>
            </div>
            <div class="progress-step">
                <span>Menu</span>
            </div>
            <div class="progress-step">
                <span>Background Images</span>
            </div>
            <div class="progress-step">
                <span>Finish</span>
            </div>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/registerCafe.js') }}"></script>
{% endblock %}