* {
    box-sizing: border-box;
}

:root {
    --background-color: rgb(92, 61, 46);
    --color: rgb(224, 192, 151);
    /* --color: rgb(92, 61, 46);
    --background-color: rgb(224, 192, 151); */
    --header: 'Pacifico', cursive;
    --section-header: 'Nunito Sans', sans-serif;
    --normal: 'Caveat', cursive;
}

body {
    background-color: rgba(92, 61, 46, 0.95);
    background-image: url('../img/landingBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

}

/* Landing Page */

.main-container {
    margin: 10vh auto;
    height: 80vh;
    width: 95vw;
    /* background-color: var(--background-color); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-cafe,
.register {
    text-align: center;
    height: 100%;
    width: 45%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    color: var(--color);
}

.search-cafe div,
.register div {
    margin: auto;
    height: 12rem;
}

.search-cafe:hover,
.register:hover {
    /* opacity: 0.7; */
    background-color: rgba(92, 61, 46, 0.25);
}

.main-container span {
    font-size: 2rem;
    margin-top: 2rem;
    display: inline-block;
    width: 12rem;
    border: 1px solid var(--color);
    border-radius: 5px;
    height: 3.2rem;
    font-family: var(--normal);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.main-container span:hover {
    background-color: var(--color);
    color: var(--background-color);
}

.main-container h2 {
    font-size: 4rem;
    font-family: var(--header);
}

.all-cafe {
    margin-right: 1rem;
}

.cafe-search {
    margin-left: 1rem;
}

/* SECTION - 1 */

#cafe-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.back {
    color: var(--color);
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    left: 2rem;
    top: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2;
    width: 8rem;
    height: 2.5rem;
    font-family: var(--normal);
}

.back i {
    margin-right: 5px;
    font-size: 17px;
}

.back:hover {
    color: var(--color);
    opacity: 1;
}

/* Search */

.form {
    width: 25vw;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(224, 192, 151, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 320px;
    text-align: center;
}

input[type=text] {
    height: 2.8rem;
    line-height: 2.8;
    width: 80%;
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    margin-top: 2.2rem;
    display: inline-block;
    border: 2px solid var(--background-color);
    border-radius: 20px;
    color: var(--color);
    background-color: rgba(92, 61, 46, 0.15);
    font-size: 1.5rem;
    font-family: var(--header);
    text-align: center;
}

input[type=text]:focus {
    height: 3rem;
    outline: none;
    border: 2px solid var(--background-color);
    border-radius: 20px;
    background-color: rgba(92, 61, 46, 0.35);
}

input[type=text]:hover {
    background-color: rgba(92, 61, 46, 0.35);
}

input[type=reset] {
    margin-top: 10px;
}

input[type=submit],
form a {
    height: 3rem;
    width: 80%;
    background-color: rgba(224, 192, 151, 0.5);
    color: var(--background-color);
    border: 2px solid var(--background-color);
    border-radius: 20px;
    font-size: 1.4rem;
    font-family: var(--header);
}

input[type=submit]:hover,
form a:hover {
    background-color: rgba(92, 61, 46, 0.35);
}

form a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    line-height: 2;
}

form a:hover {
    color: var(--background-color);
}

.error {
    font-style: italic;
    color: red;
    font-family: var(--section-header);
}

.parameters,
.search-parameters {
    margin: 1.3rem auto 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    border-bottom: 2px solid var(--background-color);
}

.search-parameters {
    display: none;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.parameters p,
.search-parameters p {
    margin: 0.2rem;
    flex-basis: 100%;
    font-size: 1.4rem;
    color: var(--background-color);
    font-family: var(--header);
    position: relative;
}

.parameters p::after,
.search-parameters p::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 2.3rem;
    left: 0;
    border: 1px solid var(--background-color);
}

.parameters span,
.search-parameters span {
    margin: 0.8rem 0.7rem;
    height: 2.2rem;
    line-height: 1.4;
    padding: 0.2rem 1rem;
    border: 2px solid var(--background-color);
    border-radius: 30px;
    color: var(--background-color);
    cursor: pointer;
}

.parameters span:hover {
    background-color: rgba(92, 61, 46, 0.2);
}

/* All Cafe's Options */

.cafe-options {
    width: 70vw;
    height: 100%;
    display: flex;
    padding: 1.5rem 1.9rem;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
}

#cafe-container h4 {
    font-family: var(--header);
    font-size: 1.9rem;
    color: var(--color);
}

#cafe-container h6 {
    font-family: var(--section-header);
    font-style: italic;
    font-size: 1.09rem;
    color: var(--color);
}

.cafe {
    width: 18rem;
    background-color: rgba(92, 61, 46, 0.35);
    border-radius: 10px;
    margin-top: 25px;
}

.cafe-body {
    position: relative;
}

.cafe a {
    font-family: var(--normal);
    font-size: 1.4rem;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
    text-decoration: none;
    text-align: center;
    color: var(--color);
}

.cafe a:hover {
    text-decoration: underline;
}

.second {
    display: none;
}

/* REGISTRATION FORM */

#registration-form {
    margin-left: 20px;
    margin-bottom: 40px;
    width: 90%;
    text-align: center;
}

#registration-form .page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#registration-form .detail-container {
    position: relative;
    margin: auto;
    padding: 0.5rem;
    flex: 1 1 100%;
    margin-bottom: 10px;
}

#registration-form .detail-container::before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    bottom: 7px;
    width: 0px;
    height: 2px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}

#registration-form .detail-container:focus-within:before {
    width: 98%;
    background: var(--background-color);
}


#registration-form label {
    position: absolute;
    top: 35%;
    left: 20px;
    font-size: 1.05rem;
    font-family: var(--section-header);
    font-weight: 700;
    font-style: italic;
    color: rgba(92, 61, 46, 1);
    transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
}

#registration-form input {
    border: 0;
    border-bottom: 1px solid rgba(92, 61, 46, 0.5);
    background-color: rgba(92, 61, 46, 0);
    border-radius: 0;
    padding: 2px 15% 0 10px;
    position: relative;
    z-index: 2;
    text-align: left;
    font-size: 1rem;
    font: normal 1rem var(--section-header);
    height: 2.5rem;
    width: 100%;
    margin: 0;
}

#registration-form input:focus+label,
.input-active label {
    top: -5px !important;
    font-size: 1rem !important;
}


.required:after {
    content: "Required";
    position: absolute;
    right: 25px;
    bottom: 9px;
    font: italic 1.1rem var(--section-header);
    color: rgba(92, 61, 46, 0.96);
}

.rating {
    width: 45%;
    display: inline-block;
    flex: 0 1 45% !important;
}

#registration-form a {
    width: 40%;
    text-align: center;
}

.second-page {
    display: none;
}

/* CAFE REGISTRATION */

#cafe-registration {
    width: 100vw;
    height: 100vh;
    padding: 5vh 0;
}

.registration-container {
    width: 80vw;
    height: 90vh;
    background-color: rgba(224, 192, 151, 0.5);
    margin: auto;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1.5rem;
}

.registration-container h2 {
    text-align: center;
    font-family: var(--header);
    height: 3.5rem;
    line-height: 1.8;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--background-color);
}

.progress {
    width: 85%;
    height: 22px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 14%;
    background: rgba(224, 192, 151, 0);
    padding: 0 1rem;
}

.progress-track {
    position: absolute;
    width: 72%;
    height: 5px;
    left: 3%;
    background-color: rgba(92, 61, 46, 0.3);
    top: 40%;
}

.progress-step {
    position: relative;
    width: 100%;
    text-align: left;
    position: relative;
    overflow-y: visible;
}

.progress-step::before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 100%;
    position: absolute;
    background: var(--color);
    color: var(--color);
    border: 4px solid var(--background-color);
    z-index: 1;
    cursor: pointer;
}

.progress-step::after {
    content: "";
    position: absolute;
    left: 0;
    top: 40%;
    width: 0%;
    height: 5px;
    background: var(--background-color);
    transition: width 0.5s ease-in;
}

.progress-step.active::before {
    background: var(--background-color);
    border-top-width: 1px;
    border-left-width: 6px;
}

.progress-step.active:last-child:after {
    width: 0%;
}

.progress-step.active::after {
    width: 100%;
}

.progress-step span {
    display: none;
    position: absolute;
    top: 100%;
    background: blue;
}

.progress-step:hover span {
    display: block;
}