* {
    box-sizing: border-box;
    scrollbar-color: var(--background-color) transparent;
    scrollbar-width: thin;
}

:root {
    --background-color: rgb(92, 61, 46);
    --color: rgb(224, 192, 151);
    /* --color: rgb(92, 61, 46);
    --background-color: rgb(224, 192, 151); */
    --header: 'Pacifico', cursive;
    --section-header: 'Source Sans 3', sans-serif;
    --normal: 'Caveat', cursive;
}

body {
    background-color: rgba(92, 61, 46, 0.95);
    background-image: url('../img/landingBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

}

/* Selection Color */

::-moz-selection {
    color: var(--color);
    background-color: rgba(92, 61, 46, 0.75);
}

::selection {
    color: var(--color);
    background-color: rgba(92, 61, 46, 0.75);
}

/* Scroll Bar */

/* For chrome, safari, etc.. */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
    padding: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(92, 61, 46, 0.7);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/* Landing Page */

.main-container {
    margin: 10vh auto;
    height: 80vh;
    width: 95vw;
    /* background-color: var(--background-color); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lnk-register {
    font-size: 2rem;
    margin-top: 2rem;
    display: inline-block;
    /* width: 12rem; */
    color: var(--color);
    text-decoration: none;
    border: 1px solid var(--color);
    padding: 0 2.5rem;
    font-family: var(--normal);
    border-radius: 5px;
    cursor: pointer;
}

.lnk-register:hover {
    color: var(--background-color);
    background-color: var(--color);
}

.search-cafe,
.register {
    text-align: center;
    height: 100%;
    width: 45%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    color: var(--color);
}

.search-cafe div,
.register div {
    margin: auto;
    height: 12rem;
}

.search-cafe:hover,
.register:hover {
    /* opacity: 0.7; */
    background-color: rgba(92, 61, 46, 0.25);
}

.main-container span {
    font-size: 2rem;
    margin-top: 2rem;
    display: inline-block;
    width: 12rem;
    border: 1px solid var(--color);
    border-radius: 5px;
    height: 3.2rem;
    font-family: var(--normal);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.main-container span:hover {
    background-color: var(--color);
    color: var(--background-color);
}

.main-container h2 {
    font-size: 4rem;
    font-family: var(--header);
}

.all-cafe {
    margin-right: 1rem;
}

.cafe-search {
    margin-left: 1rem;
}

/* SECTION - 1 */

#cafe-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.back {
    color: var(--color);
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    left: 2rem;
    top: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2;
    width: 8rem;
    height: 2.5rem;
    font-family: var(--normal);
}

.back i {
    margin-right: 5px;
    font-size: 17px;
}

.back:hover {
    color: var(--color);
    opacity: 1;
}

/* Search */

.form {
    width: 25vw;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(224, 192, 151, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 320px;
    text-align: center;
}

input[type=text] {
    height: 2.8rem;
    line-height: 2.8;
    width: 80%;
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    margin-top: 2.2rem;
    display: inline-block;
    border: 2px solid var(--background-color);
    border-radius: 20px;
    color: var(--color);
    background-color: rgba(92, 61, 46, 0.15);
    font-size: 1.5rem;
    font-family: var(--header);
    text-align: center;
}

input[type=text]:focus {
    height: 3rem;
    outline: none;
    border: 2px solid var(--background-color);
    border-radius: 20px;
    background-color: rgba(92, 61, 46, 0.35);
}

input[type=text]:hover {
    background-color: rgba(92, 61, 46, 0.35);
}

input[type=reset] {
    margin-top: 10px;
}

input[type=submit],
form a {
    height: 3rem;
    width: 80%;
    background-color: rgba(224, 192, 151, 0.5);
    color: var(--background-color);
    border: 2px solid var(--background-color);
    border-radius: 20px;
    font-size: 1.4rem;
    font-family: var(--header);
}

input[type=submit]:hover,
form a:hover {
    background-color: rgba(92, 61, 46, 0.35);
}

form a {
    display: inline-block;
    margin-top: 0.5rem;
    text-decoration: none;
    line-height: 2;
}

form a:hover {
    color: var(--background-color);
}

.error {
    font-style: italic;
    color: red;
    font-family: var(--section-header);
}

.parameters,
.search-parameters {
    margin: 1.3rem auto 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    border-bottom: 2px solid var(--background-color);
}

.search-parameters {
    display: none;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.parameters p,
.search-parameters p {
    margin: 0.2rem;
    flex-basis: 100%;
    font-size: 1.4rem;
    color: var(--background-color);
    font-family: var(--header);
    position: relative;
}

.parameters p::after,
.search-parameters p::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 2.3rem;
    left: 0;
    border: 1px solid var(--background-color);
}

.parameters span,
.search-parameters span {
    margin: 0.8rem 0.7rem;
    height: 2.2rem;
    line-height: 1.4;
    padding: 0.2rem 1rem;
    border: 2px solid var(--background-color);
    border-radius: 30px;
    color: var(--background-color);
    cursor: pointer;
}

.parameters span:hover {
    background-color: rgba(92, 61, 46, 0.2);
}

/* All Cafe's Options */

.cafe-options {
    width: 70vw;
    height: 100%;
    display: flex;
    padding: 1.5rem 1.9rem;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
}

#cafe-container h4 {
    font-family: var(--header);
    font-size: 1.9rem;
    color: var(--color);
}

#cafe-container h6 {
    font-family: var(--section-header);
    font-style: italic;
    font-size: 1.09rem;
    color: var(--color);
}

.cafe {
    width: 18rem;
    background-color: rgba(92, 61, 46, 0.35);
    border-radius: 10px;
    margin-top: 25px;
}

.cafe-body {
    position: relative;
}

.cafe a {
    font-family: var(--normal);
    font-size: 1.4rem;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
    text-decoration: none;
    text-align: center;
    color: var(--color);
}

.cafe a:hover {
    text-decoration: underline;
}

/* REGISTRATION FORM */

#registration-form {
    margin-left: 20px;
    margin-bottom: 40px;
    width: 90%;
    text-align: center;
}

#registration-form .page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#registration-form .form-heading {
    flex-basis: 100%;
}

#registration-form .detail-container {
    position: relative;
    margin: auto;
    padding: 0.5rem;
    flex: 1 1 50%;
    margin-bottom: 10px;
    height: 3.2rem;
    line-height: 2;
}

#registration-form .detail-container::before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    bottom: 15px;
    width: 0px;
    height: 2px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}

#registration-form .detail-container:focus-within:before {
    width: 98%;
    background: var(--background-color);
}


#registration-form label {
    position: absolute;
    top: 16%;
    left: 20px;
    font-size: 1.05rem;
    font-family: var(--section-header);
    font-weight: 700;
    font-style: italic;
    color: rgba(92, 61, 46, 1);
    transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
}

#registration-form input {
    border: 0;
    border-bottom: 1px solid rgba(92, 61, 46, 0.5);
    background-color: rgba(92, 61, 46, 0);
    border-radius: 0;
    padding: 2px 15% 0 10px;
    position: relative;
    z-index: 2;
    text-align: left;
    font-size: 1rem;
    font: normal 1rem var(--section-header);
    height: 2.5rem;
    width: 100%;
    height: 68%;
    margin: 0;
}

#registration-form input:focus+label,
.input-active label {
    top: -15px !important;
    font-size: 1rem !important;
}


.required:after {
    content: "Required";
    position: absolute;
    right: 25px;
    bottom: 15px;
    font: italic 1.1rem var(--section-header);
    color: rgba(92, 61, 46, 0.96);
}

.rating {
    width: 45%;
    display: inline-block;
    flex: 0 1 45% !important;
}

#registration-form a {
    width: 40%;
    text-align: center;
}

.second-page {
    display: none;
}

.menu-input {
    /* flex: 1 1 45% !important; */
    flex-basis: 45%;
    font-size: 1.5rem;
    font-family: var(--header);
}

.menu-header-input {
    opacity: 0.5;
    text-align: center;
    padding: 0 !important;
}

.menu-header-input::before {
    bottom: 0 !important;
}

.menu-header-input:focus {
    outline: none;
}

.current-menu-details {
    height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    text-align: center;
    padding: 2rem 1rem 0;
    color: var(--background-color);
    visibility: hidden;
}

.current-menu-details div {
    font: 1.15rem var(--section-header);
    font-style: italic;
}

.current-menu-details>.header span {
    border-bottom: 2px solid var(--background-color);
}

.current-menu-details>.header {
    display: flex;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0.5rem;
    font-style: normal;
    position: absolute;
    top: 0;
    width: 90%;
}

.current-menu-details>.items {
    opacity: 0.75;
}

.current-menu-details div span {
    display: inline-block;
    width: 20%;
}

.current-menu-details div span:first-child {
    width: 75%;
    margin-right: 0.5rem;
}

.menu-item-input {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.menu-item-input>a {
    cursor: pointer;
}

#registration-form input::placeholder {
    color: var(--background-color);
}

#registration-form input[type=text] {
    flex-basis: 65%;
    padding-right: 10px;
    color: var(--background-color);
    /* text-align: center; */
    font-size: 1.1rem;
}

#registration-form input[type=text]:focus {
    border-bottom: 2px solid rgb(92, 61, 46) !important;
}

input[type=number]:focus {
    outline: none;
    /* border: none; */
    border-bottom: 2px solid rgb(92, 61, 46) !important;
}

/* To remove the arrow from the input type number in chrome*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#registration-form input[type=number] {
    -moz-appearance: textfield;
    padding-right: 10px;
    flex-basis: 15%;
    text-align: center;
    color: var(--background-color);
}

input[type=date]:focus {
    outline: none;
}

textarea {
    width: 95%;
    height: 4rem;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: var(--background-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
    font-family: var(--section-header);
    font-style: italic;
}

textarea::-webkit-input-placeholder {
    color: var(--background-color);
}

a.add-menu-button,
a.add-menu-part {
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.8;
    flex-basis: 40%;
}

.error.coffee-details {
    font-size: 1rem;
    flex-basis: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.menu-content {
    /* flex: 1 1 45% !important; */
    flex-basis: 45%;
    color: var(--background-color);
}

.menu-content>h4 {
    font-size: 1.6rem;
    font-family: var(--header);
    padding: 0.5rem;
}

.menu-part {
    padding: 0 1.5rem;
    position: relative;
}

.menu-part>h6 {
    font-size: 1.2rem;
    font-family: var(--section-header);
    font-weight: bold;
    text-decoration: underline;
}

.menu-group {
    max-height: 7rem;
    overflow: auto;
}

.menu-group>.header {
    display: flex;
    font-family: var(--section-header);
}

.menu-group>.header span {
    text-decoration: underline;
    font-weight: bold;
}

.menu-part::after {
    position: absolute;
    top: 0;
    right: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f0da";
}

.menu-part:hover::after {
    content: "\f0d7";
}

.menu-group>.items {
    height: 0;
    transition: height 500ms ease;
}

.menu-part:hover .items {
    height: 7rem;
}

.menu-group>.items div {
    display: flex;
}

.menu-group>.items div span {
    display: inline-block;
}

.menu-group div span:first-child {
    width: 75%;
}

#registration-form>input[type=submit] {
    /* flex-basis: 40%; */
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    line-height: 2;
    padding: 0 1rem;
    height: 3rem;
    border: 2px solid var(--background-color);
    background-color: rgba(224, 192, 151, 0.5);
    color: var(--background-color);
    border-radius: 20px;
    font-size: 1.4rem;
    font-family: var(--header);
}

/* CAFE REGISTRATION */

#cafe-registration {
    width: 100vw;
    height: 100vh;
    padding: 5vh 0;
}

.registration-container {
    width: 80vw;
    height: 90vh;
    background-color: rgba(224, 192, 151, 0.5);
    margin: auto;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1.5rem;
}

.registration-container h2 {
    text-align: center;
    font-family: var(--header);
    height: 3.5rem;
    line-height: 1.8;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--background-color);
}

.progress {
    width: 85%;
    height: 22px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 14%;
    background: rgba(224, 192, 151, 0);
    padding: 0 1rem;
}

.progress-track {
    position: absolute;
    width: 72%;
    height: 5px;
    left: 3%;
    background-color: rgba(92, 61, 46, 0.3);
    top: 40%;
}

.progress-step {
    position: relative;
    width: 100%;
    text-align: left;
    position: relative;
    overflow-y: visible;
}

.progress-step::before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 100%;
    position: absolute;
    background: var(--color);
    color: var(--color);
    border: 4px solid var(--background-color);
    z-index: 1;
    cursor: pointer;
}

.progress-step::after {
    content: "";
    position: absolute;
    left: 0;
    top: 40%;
    width: 0%;
    height: 5px;
    background: var(--background-color);
    transition: width 0.5s ease-in;
}

.progress-step.active::before {
    background: var(--background-color);
    border-top-width: 1px;
    border-left-width: 6px;
}

.progress-step.active:last-child:after {
    width: 0%;
}

.progress-step.active::after {
    width: 100%;
}

.progress-step span {
    display: none;
    position: absolute;
    top: 100%;
    background: blue;
}

.progress-step:hover span {
    display: block;
}